<div class="container-fluid mobile">

  <!-- Header  -->
  <div class="row header">
    <div class="col-md-2">
      <div class="logo"></div>
    </div>
    <div class="col-md-6">
      <div class="tab">
        <ul class="nav nav-tabs">
          <li class="tab-item observe active">
            <a data-toggle="tab" href="#home">OBSERVE</a>
          </li>
          <li class="tab-item report">
            <a data-toggle="tab" href="#menu1">REPORTS</a>
          </li>
          <!-- <li class="tab-item report">
                      <a class="button" (click)="auth.googleLogin()">Login With Gmail</a>
                    </li>
                    <li class="tab-item report" *ngIf="auth.user | async as user">
                      <a class="button" (click)="auth.signOut()">Logout</a>
                    </li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="header-dropdown">
        <div class="living-room">
          <span style="display: inline-block; font-size: 12px; color: #767676; font-family: Graphik;">Area</span>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Common Room
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Common Room</a>
              <a class="dropdown-item" href="#">Living Room</a>
              <a class="dropdown-item" href="#">Drawing Room</a>
              <a class="dropdown-item" href="#">Lobby</a>
            </div>
          </div>
        </div>
        <div class="modal-applied">
          <span style="display: inline-block; font-size: 12px; color: #767676; font-family: Graphik;">Model applied</span>
          <div class="modal-applied-dropdown" style="display: inline-block;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Generic Residence
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="#">Generic Residence</a>
              <a class="dropdown-item" href="#">Old Age Home</a>
              <a class="dropdown-item" href="#">Hospital</a>
              <a class="dropdown-item" href="#">Library</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section -->
  <div class="row section">
    <div class="col-md-12">

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

          <div class="row observer">
            <div class="col-md-6">
              <div class="observer-text">
                Everything Looks Good

              </div>
            </div>
            <div class="col-md-6 observe-bar">
              <div class="observer-bar">

              </div>
              <div class="observe-percentage">
                Merged Accuracy
                <span style="margin-left:3px;font-size: 24px;">85%</span>
              </div>
            </div>
          </div>
          <div class="row video">
            <div class="col-md-7">
              <div class="main-video">
                <div class="blink-box"></div>
                <!-- <div class="video-text">Video</div> -->
                <div class="play-button">Play</div>
                <div class="pause-button">Pause</div>
                <div class="video-area">

                  <video playbackspeed="0.9" id="oldlady_video" width="708" height="340" style="margin-left:6px; background: transparent;">
                    <source src="./assets/video/helpingears.mp4" type="video/mp4"> Your browser does not support the video tag.
                  </video>

                </div>
                <div class="videoaccuracy accuracy-bottom">
                  Accuracy
                  <span style="margin-left:3px;font-size: 22px;">65%</span>
                </div>
              </div>

            </div>
            <div class="col-md-5">
              <div class="video-text">Audio</div>
              <div class="audio">
                <div class="blink-box"></div>
                <div class="audio-area">
                  <div class="audio-series-graph" style="display: none;"></div>
                  <div id="canvabox"></div>
                  <!-- <div class="audio-series-graph"></div> -->
                  <div class="audio-distress"></div>
                  <!--<audio controls id="oldlady_audio">
                                      <source src="audio/girl_agony1_sound.ogg" type="audio/ogg">
                                  </audio>-->
                </div>
                <!-- <div id="current">0:00</div>
                              <div id="duration">0:00</div> -->
                <div class="audio-accuracy accuracy-bottom">
                  Accuracy
                  <span style="margin-left:3px;font-size: 22px;">55%</span>
                </div>
              </div>
              <div class="video-text" style="margin-top: 10px;">Last Event
                <span style="color: #9B9B9B; font-size: 13px; font-weight: normal"></span>
              </div>
              <div class="activity">
                <!-- <div class="blink-box"></div> -->

                <div class="audio-video">

                  <div class="audio-area">
                    <div class="av-audio-series-graph" style="display: none"></div>
                    <br>
                    <br>
                    <div class="av-video-series-graph" style="display: none"></div>
                    <div class="notification-data">

                    </div>
                    <div class="audio-distress"></div>
                    <!--<audio controls id="oldlady_audio">
                          <source src="audio/girl_agony1_sound.ogg" type="audio/ogg">
                      </audio>-->
                  </div>
                  <!-- <div id="current">0:00</div>
                  <div id="duration">0:00</div> -->
                  <div class="audio-accuracy accuracy-bottom">
                    Accuracy
                    <span style="margin-left:3px;font-size: 22px;">75%</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="notification-popup"></div>
          <!-- <div (window:custom-event)="showNotification($event)"> -->
        </div>
        <div id="menu1" class="tab-pane fade">

          <div class="col-md-12" style="left:-66px">
            <div class="row report-container">

              <div class="col-md-3 left-container border">

              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

<div class="mobile2">
  <div style=" display: flex;justify-content: center;">
    <img style="height: 50%;width: 50%;" src="assets/icons/he.png">
  </div>
  <br>
  <br>
  <div style=" display: flex;justify-content: center;">
    <button type="button" class="btn btn-primary" (click)="auth.googleLogin()">Login With Gmail</button>
  </div>
  <br>
  <br>
  <div style=" display: flex;justify-content: center;">
    <button type="button" class="btn btn-primary" (click)="auth.signOut()">Logout</button>
  </div>
</div>